In [1]:
import mysql.connector as mysql
import matplotlib.pyplot as plt

if __name__ == "__main__":
    Conexion = mysql.connect(host='db', user='user', passwd='password',db='universidad')
    sql_select_Query1 = "select * from persona"
    sql_select_Query2 = "select * from departamento"
    cursor = Conexion.cursor(buffered=True)
    cursor.execute(sql_select_Query1)
    
    plt.subplot(3,1,1)
# ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////    
    records = cursor.fetchall()
    Persona = int(cursor.rowcount)

    cursor.execute(sql_select_Query2)
    Departamento = int(cursor.rowcount)

    Datos = [Persona,Departamento]

    Nombres = ['Persona','Departamento'] 

    plot1 = plt.bar(Nombres,Datos)
    plt.title('Proyecto Final de Estructuras del Computador 2 \n Presentado por Ivan Perez, Diego Palacios y Jairo Gonzalez')
    plt.grid(True)

# ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////    
    plt.subplot(3,1,2)
    sql_select_Query1 = "select * from curso_escolar"
    sql_select_Query2 = "select * from asignatura"
    
    cursor.execute(sql_select_Query1)
    curso_escolar = int(cursor.rowcount)
    
    cursor.execute(sql_select_Query2)
    Asignatura = int(cursor.rowcount)
    
    Datos = [curso_escolar,Asignatura]
    Nombres = ['curso_escolar','Asignatura'] 
    plot2 = plt.bar(Nombres,Datos)

    plt.ylabel('Cantidad de datos')
    plt.grid(True)
# ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////    
    plt.subplot(3,1,3)
    sql_select_Query1 = "select * from profesor"
    sql_select_Query2 = "select * from persona"
    
    cursor.execute(sql_select_Query1)
    Profesor = int(cursor.rowcount)
    
    cursor.execute(sql_select_Query2)
    Persona = int(cursor.rowcount)
    
    Datos = [Profesor,Persona]
    Nombres = ['curso_escolar','Persona'] 
    plot2 = plt.bar(Nombres,Datos)

    plt.xlabel('Nombre de las tablas de la Base de datos')
    plt.grid(True)
    plt.rcParams["figure.figsize"] = (21,21)
    #plt.rcParams["figure.figsize"] = plt.rcParamsDefault["figure.figsize"]

    plt.show()

ModuleNotFoundError: ignored